@font-face {
	font-family: 'icomoon';
	src:url('atom://centurion-ui/fonts/icomoon.eot');
	src:url('atom://centurion-ui/fonts/icomoon.eot') format('embedded-opentype'),
		url('atom://centurion-ui/fonts/icomoon.woff') format('woff'),
		url('atom://centurion-ui/fonts/icomoon.ttf') format('truetype'),
		url('atom://centurion-ui/fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
